body{background-color: darkgreen;

  background-blend-mode: color ;
}

.doomguyface{

    border: 8px solid black;
    display: flex;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%
    
}

.header{

    display: flex;
    font-size: 28px;
    justify-content: center;
    
}

ul{

    list-style-type: none; 
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.logo{

    font-size: 28px;

}

h1{

    text-align: center;
}